body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.app {
    text-align: center;
}

.app-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}

.title {
    margin: 0;
    font-size: 2em;
}

.app-content {
    padding: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.status {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.status span {
    font-weight: bold;
}

.data {
    font-size: 1.2em;
    margin: 10px 0;
}

.data span {
    font-weight: bold;
}

.thermometer {
    margin: 100px 0 0 15%;
    right: 500px;
    top: -10px;
    width: 22px;
    height: 150px;
    display: block;
    font: bold 14px/152px helvetica, arial, sans-serif;
    text-indent: 36px;
    background: -webkit-linear-gradient(top, #fff 0%, #fff 50%, #db3f02 50%, #db3f02 100%);
    border-radius: 22px 22px 0 0;
    border: 5px solid #4a1c03;
    border-bottom: none;
    position: absolute;
    box-shadow: inset 0 0 0 4px #fff;
    color: #4a1c03;
}

.thermometer:before {
    content: ' ';
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 142px;
    left: -16px;
    z-index: -1;
    /* Place the bulb under the column */
    background: #db3f02;
    border-radius: 44px;
    border: 5px solid #4a1c03;
    box-shadow: inset 0 0 0 4px #fff;
}

.thermometer:after {
    content: ' ';
    width: 14px;
    height: 7px;
    display: block;
    position: absolute;
    top: 146px;
    left: 4px;
    background: #db3f02;
}